@import "tailwindcss";

@theme {
  --color-brand-primary: #0f172a; /* slate-900 */
  --color-brand-accent: #2563eb; /* blue-600 */
}

@layer utilities {
  .clip-diagonal {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  }
}
